# dependencies
node_modules/

# builds
dist/
build/
.expo/
web-build/
expo-env.d.ts

# native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# env
.env
.env.*
!.env.example

# logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# misc
.DS_Store
*.pem
coverage/
.eas/

# uploads (local dev media storage)
apps/server/uploads/
